
input.form-control.rounded {
  border-radius: 2rem !important;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}



mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.mat-raised-button{
  background-color: #e4b23a !important;
}


textarea {
  height: 150px;
}

@media (min-width: 1024px) {
  .page-heading__main-heading {
    font-size: 3.5em;
}
}


.page-heading__main-heading {
  font-family: Interstate,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 900;
  max-width: 1600px;
  text-transform: none;
  font-size: 2em;
  margin: 0 auto;
}

.h1, h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}


h1, h2, h3 {
  font-feature-settings: "kern" 1,"liga" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

*, :after, :before {
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  box-sizing: border-box;
}
