<!-- <div class="contentPage">




  <div class="col-sm-4">

    <p class="text">
      Si votre adresse mail est correct L'équipe Co'Work Space va se charger
      de vous appeler dans les plus brefs délais <strong>Tout Paris.</strong>
    </p>


    <div class="spacer"></div>
  </div>

</div> -->
<body class="u-body">

  <section class="u-align-center u-clearfix u-section-2" id="sec-e975">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-text u-text-1">Confirmation de contact</h2>
      <p></p>
      <p class="u-text u-text-2"><strong>Si votre adresse mail est correct vous
          allez être recontacté(e) dans
          les plus brefs délais</strong><br><br>Les espaces de coworking donnent
        accès
        à
        des
        équipements professionnels et des infrastructures de qualité : bureau,
        wifi, imprimante, vidéoprojecteur, salles de réunion, etc. Tout cela
        pour un coût modique puisqu’il est partagé entre les coworkers. Ce
        système vous permet aussi de gagner un temps précieux en vous libérant
        de certaines tâches administratives. Mais travailler en coworking c’est
        aussi et surtout rejoindre une communauté et respecter les valeurs du
        coworking. Votre bureau devient un lieu de rencontres et d’échanges,
        basé sur l’idée que « plus je donne, plus je reçois ». Les outils de
        travail collaboratif facilitent votre quotidien et le côté humain
        engendre une émulation très positive… et plus si affinité ! Les
        avantages du coworking sont nombreux et devraient plaire aux
        travailleurs en quête d’une nouvelle aventure..</p>
    </div>
  </section>

</body>
