<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" [formGroup]="validFormGroup"
      (ngSubmit)="validateEmail()">
      <h1 class="title">Mot de passe oublié ?</h1>
      <br>
      <h3>Saisissez votre adresse e-mail et nous vous enverrons un lien pour
        réinitialiser votre mot de passe.</h3>
      <mat-error *ngIf="validError">
        {{validError}}
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Veuillez saisir your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email"
          required>
        <mat-error *ngIf="validFormGroup.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary"
      [disabled]="!validFormGroup.valid" (click)="forgetPassword()">Valider</button>
  </mat-card-content>
</mat-card>
