//
h1 {
  font-size: 4rem;
  line-height: 1;
  // padding-left: 20%;
  padding-right: 10%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

.title{
  display: inline-flex;
  place-content: center;
}

.contentPage{
  margin: 5%;
}

.row{
  margin-right: 0;
  margin-left: 0;
}


.c-location-overview-intro {
  padding: 24px 15px;
}
.c-location-overview-intro__byline {
  font-size: 1.25rem;
  line-height: 1.23;
  margin-bottom: 10px;
  padding-left: 20%;
  vertical-align: center;
}
// .spacer {

//   height: 1%;

// }
div.vertical-line{
  margin-right: 5px;
  width: 3px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}

.spacer {
  height: 3%;
}
