<div class="container my-5 py-5">
  <div class="row gx-5">
    <div class="col-6 ">
      <mat-card>
        <mat-card-title>Normal</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            aspernatur rem atque, aliquam cupiditate
            recusandae porro nihil obcaecati error magni, dolorum provident.
            Repellendus deserunt ipsam nulla sequi
            voluptatibus necessitatibus sapiente.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary"
            (click)="openPaymentDialog('price_1LV2qILgo658MnS57wzZnsmW','Normal')">Continue</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>
        <mat-card-title>Premium</mat-card-title>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
            eaque aspernatur officia eveniet nisi
            voluptatum natus corrupti asperiores exercitationem dolor aut
            officiis incidunt sit mollitia, facere
            distinctio earum? Odit, unde.</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary"
            (click)="openPaymentDialog('price_1LV2PbLgo658MnS5NF0iHqYc',
            'Premium')">Continue</button>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
