<div class="page-heading">
  <div class="page-heading__content">
    <h1 class="page-heading__main-heading">Vous pouvez vous faire de nouveaux
      contacts sans avoir à entrer dans un club de golf.</h1>
  </div>
</div>
<div class="second">
  <section class="section section--spacing-default section--centered">
    <div class="section__content section__content--wider">
      <h1 class="section__title">Qui sommes-nous</h1>
      <section class="section__content__body">
        <p>Nous considérons que le travail est une question de personnes et
          d’idées. Nos espaces sont occupés par des avant-gardistes, des
          innovateurs et des influenceurs qui sont confiants dans la réalisation
          de leurs objectifs. Que vous soyez une petite entreprise, un
          entrepreneur ou un intrapreneur dans une grande entreprise, chez
          Spaces,
          nous aidons notre communauté à élargir ses horizons.</p>
        <p>Notre atmosphère dynamique attire une communauté énergique&nbsp;: des
          intellectuels du monde des affaires positifs et ouverts d’esprit qui
          aiment réseauter. Notre calendrier d’événements professionnels et nos
          services d’accueil ainsi que le design européen sophistiqué et
          inspirant
          de nos clubs d’affaires transmettent aux gens le buzz et l’énergie de
          Spaces, et les font se sentir chez eux.</p>
        <p>En créant des espaces de travail flexibles avec un esprit unique et
          entrepreneurial, nous vous aidons à réfléchir, créer et collaborer,
          tandis que notre équipe s’occupe des questions logistiques et des
          services de base. Chez Spaces, nous faisons en sorte que nos membres
          puissent se concentrer sur le développement de leur entreprise.</p>
        <div class="embed-responsive embed-responsive-16by9"><iframe
            title="Spaces. We welcome you all."
            src="https://player.vimeo.com/video/245904507?dnt=1&amp;app_id=122963"
            frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe></div>
      </section>
    </div>
  </section>
</div>
